In [1]:
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd

#In this file it will calculate the confidence interval of the columns price, size and priceByArea if the mean that we obtained in the SQL query is in our interval, we can consider the SQL query

In [2]:
rent1 = pd.read_csv("rent.csv") 
rent2 = pd.read_csv("rent_test_cleaned.csv") 

sale1 = pd.read_csv("sale.csv") 
sale2 = pd.read_csv("sale_test_cleaned.csv")

In [3]:
rent1.drop(columns = 'Unnamed: 0')
rent2.drop(columns = 'Unnamed: 0')

sale1.drop(columns = 'Unnamed: 0')
sale2.drop(columns = 'Unnamed: 0')

,propertyCode,price,operation,size,rooms,bathrooms,latitude,longitude,priceByArea,propertyType,floorNumeric
0,31094622,695000.0,sale,250.0,6,2,38.731738,-9.151303,2780.0,flat,2
1,31092321,310000.0,sale,97.0,3,2,38.741437,-9.144852,3196.0,duplex,3
2,31091396,290000.0,sale,63.0,2,1,38.722571,-9.133652,4603.0,flat,2
3,31087511,270000.0,sale,82.0,0,1,38.736866,-9.160759,3293.0,studio,0
4,31084137,1195000.0,sale,153.0,5,4,38.730729,-9.147894,7810.0,flat,6
...,...,...,...,...,...,...,...,...,...,...,...
96,30947843,525000.0,sale,58.0,1,1,38.710602,-9.147381,9052.0,flat,1
97,30947782,525000.0,sale,76.0,1,1,38.710602,-9.149481,6908.0,flat,1
98,30947790,350000.0,sale,120.0,5,1,38.723460,-9.141692,2917.0,flat,4
99,30943529,275000.0,sale,69.0,2,1,38.732305,-9.138419,3986.0,flat,1
100,30934618,479900.0,sale,130.0,3,3,38.733478,-9.129253,3692.0,flat,5

In [4]:
rent = pd.concat([rent1, rent2])

sale= pd.concat([sale1, sale2])

In [5]:
display(rent.describe(), sale.describe())

,Unnamed: 0,propertyCode,price,size,rooms,bathrooms,latitude,longitude,priceByArea,floorNumeric
count,1139.000000,1.139000e+03,1139.000000,1139.000000,1139.000000,1139.000000,1139.000000,1139.000000,1139.000000,1139.000000
mean,28.181738,3.084195e+07,1700.598771,117.458077,2.429324,1.843723,38.728626,-9.145196,15.128183,3.024583
std,34.098423,5.323983e+05,1164.980347,72.865512,1.537196,1.005338,0.013762,0.013361,5.163350,2.321163
min,0.000000,2.709148e+07,500.000000,25.000000,0.000000,1.000000,38.706342,-9.177195,6.000000,0.000000
25%,10.500000,3.078679e+07,977.500000,70.000000,1.000000,1.000000,38.717321,-9.153825,12.000000,1.000000
50%,21.000000,3.102366e+07,1400.000000,100.000000,2.000000,2.000000,38.726725,-9.145774,14.000000,3.000000
75%,32.000000,3.113183e+07,1950.000000,145.000000,3.000000,2.000000,38.738495,-9.136436,17.000000,4.000000
max,199.000000,3.118968e+07,11500.000000,861.000000,25.000000,11.000000,38.768298,-9.096129,46.000000,17.000000

,Unnamed: 0,propertyCode,price,size,rooms,bathrooms,latitude,longitude,priceByArea,floorNumeric
count,1085.000000,1.085000e+03,1.085000e+03,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000
mean,25.128111,3.084732e+07,6.443558e+05,270.765069,2.529032,2.028571,38.728944,-9.142811,5201.233180,3.215668
std,25.843576,4.732907e+05,4.807943e+05,4706.559570,1.430537,1.100199,0.014169,0.013893,1847.927436,2.435806
min,0.000000,2.809481e+07,8.300000e+04,18.000000,0.000000,0.000000,38.705185,-9.179190,4.000000,-1.000000
25%,10.000000,3.075971e+07,3.299000e+05,70.000000,2.000000,1.000000,38.718126,-9.150802,3750.000000,1.000000
50%,21.000000,3.103718e+07,5.050000e+05,108.000000,2.000000,2.000000,38.727430,-9.144365,4857.000000,3.000000
75%,32.000000,3.114158e+07,8.120000e+05,155.000000,3.000000,3.000000,38.738725,-9.133181,6304.000000,5.000000
max,158.000000,3.118761e+07,4.950000e+06,155130.000000,15.000000,8.000000,38.769015,-9.093210,17722.000000,21.000000

In [6]:
#this cell will focus on the confidence interval of rent

#price------------------------------------------
sigma, mu = np.std(rent['price'], ddof=-1), np.mean(rent['price']) 
print('we are 95% confident that the price of the rent is ',  stats.norm.interval(0.95, loc=mu, scale= sigma/np.sqrt(len(rent['price']))), '\n')

#size-----------
sigma, mu = np.std(rent['size'], ddof=-1), np.mean(rent['size']) 
print('we are 95% confident that the size of the rent is ',  stats.norm.interval(0.95, loc=mu, scale= sigma/np.sqrt(len(rent['price']))), '\n')

#price by area----------
sigma, mu = np.std(rent['priceByArea'], ddof=-1), np.mean(rent['priceByArea']) 
print('we are 95% confident that the price by area of the rent is ',  stats.norm.interval(0.95, loc=mu, scale= sigma/np.sqrt(len(rent['price']))), '\n')

we are 95% confident that the price of the rent is  (1633.0023761327202, 1768.1951655705284)

we are 95% confident that the size of the rent is  (113.23015536539158, 121.68599915611851)

we are 95% confident that the price by area of the rent is  (14.828586294940568, 15.427778937719662)

In [12]:
#this cell will focus on the confidence interval of sale

#price------------------------------------------
sigma, mu = np.std(sale['price'], ddof=-1), np.mean(sale['price']) 
print('we are 95% confident that the price of the sale is ',  stats.norm.interval(0.95, loc=mu, scale= sigma/np.sqrt(len(sale['price']))), '\n')

#size-----------
sigma, mu = np.std(sale['size'], ddof=-1), np.mean(sale['size']) 
print('we are 80% confident that the size of the sale is ',  stats.norm.interval(0.50, loc=mu, scale= sigma/np.sqrt(len(sale['price']))), '\n')

#price by area----------
sigma, mu = np.std(sale['priceByArea'], ddof=-1), np.mean(sale['priceByArea']) 
print('we are 95% confident that the price by area of the sale is ',  stats.norm.interval(0.95, loc=mu, scale= sigma/np.sqrt(len(sale['price']))), '\n')

we are 95% confident that the price of the sale is  (615773.8030464511, 672937.7582438715)

we are 80% confident that the size of the sale is  (174.4789298101412, 367.0512084387066)

we are 95% confident that the price by area of the sale is  (5091.378676672838, 5311.087682774166)